.SingleColorPalette .ColorBox{
    height: 50%;
}

.ColorBox.go-back{
    background-color: black;
}

.copy-button, .back-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width*/ 
    margin-top: -15px; /* half height*/
    text-align: center;
    outline: none;
    background: rgba(255,255,255,0.3);
    font-size: 1rem;
    line-height: 30px;
    color: white;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

